<div class="panel-header bg-primary-gradient">
	<div class="page-inner py-5">
		<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
			<div>
				<h2 class="text-white pb-2 fw-bold">Hasil Survey</h2>
			</div>

		</div>
	</div>
</div>

<div class="page-inner mt--5">
	<div class="row mt--2 row" id="content">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body row">
					<div class="table-responsive">
						<table id="basic-datatables" class="display table table-striped table-hover" cellspacing="0" width="100%">
							<thead>
                                <tr>
                                    <th> Nama </th>
                                    <th> AL </th>
                                    <th> FA </th>
                                    <th> FL </th>
                                    <th> FH </th>
                                    <th> HA </th>
                                    <th> HL </th>
                                </tr>
							</thead>
                            <tbody>
								@foreach (Survey survey in ViewBag.Survey)
								{
									<tr>
										<td>@survey.User.Name</td>
										<td>@Math.Round(survey.AccreditationToCityValue, 3, MidpointRounding.AwayFromZero)</td>
										<td>@Math.Round(survey.FacilityToAccreditationValue, 3, MidpointRounding.AwayFromZero)</td>
										<td>@Math.Round(survey.FacilityToCityValue, 3, MidpointRounding.AwayFromZero)</td>
										<td>@Math.Round(survey.FacilityToPriceValue, 3, MidpointRounding.AwayFromZero)</td>
										<td>@Math.Round(survey.PriceToAccreditationValue, 3, MidpointRounding.AwayFromZero)</td>
										<td>@Math.Round(survey.PriceToCityValue, 3, MidpointRounding.AwayFromZero)</td>
									</tr>
								}                            
                            </tbody>
                        </table>
    				</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$('#basic-datatables').DataTable();
</script>