<div class="panel-header bg-primary-gradient">
	<div class="page-inner py-5">
		<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
			<div>
				<h2 class="text-white pb-2 fw-bold">Pengelola Universitas</h2>
			</div>
            <div class="ml-md-auto py-2 py-md-0">
			</div>

		</div>
	</div>
</div>

<div class="page-inner mt--5">
	
	<div class="row mt--2">
		<div class="col-md-9">
			<div class="card">
				<div class="card-header">
					<div class="card-head-row">
						<div class="card-title">@ViewBag.University.Name</div>						
					</div>
				</div>
				<div class="card-body row">
					<div class="form-group col-md-3">
						<label>Nama Perguruan Tinggi</label>
						<input class="form-control" value="@ViewBag.University.Name" readonly/>
					</div>

					<div class="form-group col-md-3">
						<label>Akreditasi</label>
						<input class="form-control" value="@ViewBag.University.Accreditation" readonly/>
					</div>

					<div class="form-group col-md-3">
						<label>Kota</label>
						<input class="form-control" value="@ViewBag.University.City.Name" readonly/>
					</div>

					<div class="form-group col-md-3">
						<label>SPP</label>
						<input class="form-control" value="@ViewBag.University.TuitionFee" readonly/>
					</div>

					<div class="form-group col-md-12">
						<label>Deskripsi</label>
						<textarea class="form-control" readonly>@ViewBag.University.Description</textarea>
					</div>

				</div>
			</div>
		</div>	
		<div class="col-md-3">
			<div class="card">
				<div class="card-header">
					<div class="card-title">@ViewBag.University.Name</div>						
				</div>
				<div class="card-body">
					<div class="mr-2">
						<img style="max-width:200px;" src="@ViewBag.University.Logo" alt="..."  class="rounded">
					</div>
				</div>
			</div>
		</div>	
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<div class="card-title">Alamat</div>						
				</div>
				<div class="card-body">
					 @Html.Raw(@ViewBag.University.MapsUrl.Replace("width=\"600\"","width=\"1000\""))

					 <div class="form-group col-md-12">
						<label>Alamat Lengkap</label>
						<textarea class="form-control" readonly>@ViewBag.University.Address</textarea>
					</div>					
				</div>
			</div>
		</div>	
		
	</div>
	
</div>