<div class="panel-header bg-primary-gradient">
	<div class="page-inner py-5">
		<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
			<div>
				<h2 class="text-white pb-2 fw-bold">Pencarian Kampus</h2>
			</div>
		</div>
	</div>
</div>

<div class="page-inner mt--5">
	<div class="row mt--2 row" >
		<div class="col-md-12">
			<div class="card">
				<div class="card-body row">
					<div class="input-group col-md-11">
						<input type="text" placeholder="Pencarian ..." id="keyword" class="form-control">
						<div class="input-group-prepend">
							<button type="submit" class="btn btn-search">
								<i class="fa fa-search search-icon"></i>
							</button>
						</div>
					</div>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filterModal">
						Filter
					</button>
				</div>
			</div>
            <div id="content" class="row">

            </div> 
		</div>
	</div>
</div>



<div class="modal fade" id="filterModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h4>Filter Pencarian</h4>
                </center>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="max-height:200px; overflow-y:scroll;">
                <div class="col-md-12">
                    <div class="form-group">
						<label>Kota</label>
						<div class="select2-input">
							<select id="cities" name="cities[]" class="form-control multi" multiple="multiple" style="width:220px;">
								@foreach (City city in ViewBag.Cities)
								{
									<option value="@city.Id">@city.Name (@city.Universities.Count() Univ)</option>								
								}	
							</select>
						</div>                    
					</div>
					<div class="form-group">
						<label>Fasilitas</label>
						<div class="select2-input">
							<select id="facilities" name="facilities[]" class="form-control multi" multiple="multiple" style="width:220px;">
								@foreach (Facility facility  in ViewBag.Facilities)
								{
									<option value="@facility.Id">@facility.Name</option>								
								}	
							</select>
						</div>                    
					</div>
					<div class="form-group">
						<label>Akreditasi</label>
						<div class="select2-input">
							<select id="acreditation" name="acreditation[]" class="form-control multi" multiple="multiple" style="width:220px;">
								<option value="A">A</option>								
								<option value="B">B</option>								
								<option value="C">C</option>								
								<option value="D">Tidak Ada</option>								
							</select>
						</div>                    
					</div>

					<div class="form-group">
						<label>Prioritas</label>
						<div class="select2-input">
							<select id="priority" name="priorities[]" class="form-control multi" multiple="multiple" style="width:220px;">
								<option value="City">Lokasi Kampus</option>								
								<option value="Accreditation">Akreditasi</option>								
								<option value="Facility">Fasilitas</option>								
								<option value="Price">Harga</option>								
							</select>
						</div>                    
					</div>
					<div class="form-group">
						<label>Maksimal SPP / Semester</label>
						<input id="maxTuitionFee" value="0" type="number" class="form-control"  />
					</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" onclick="Find()">
                    <div class="spinner-border spinner-border-sm"></div>
                    Simpan
                </button>
                <button type="button" data-dismiss="modal" class="btn btn-secondary">Kembali</button>
            </div>
        </div>
    </div>

</div>

<script>
	$('.multi').select2({
		theme: "bootstrap",
		placeholder: "Silahkan isi"
	});

	function Find(){
		if($('#priority').val().length == 4) {
			$.ajax({
				type: "POST",
				dataType: "JSON",
				contentType: "application/x-www-form-urlencoded",
				url: "finder/find",
				data : {
					Cities : JSON.stringify( $('#cities').val()),
					Facilities : JSON.stringify( $('#facilities').val()),
					Accreditation : JSON.stringify( $('#acreditation').val()),
					Priorities : JSON.stringify( $('#priority').val()),
					TuitionFee : $("#maxTuitionFee").val()
				},
				success: function (result) {
                    var htmlCard = "";
                    result.forEach(function(result){
                        htmlCard = htmlCard + '<div class="col-sm-6 col-md-4"><div class="card card-stats card-info card-round" onclick="Detail(' + result.university.id + ')"><div class="card-body"><div class="row"><div class="col-12 col-stats"><div class="numbers"><p class="card-title">'+result.university.name+' ('+result.finalScore+')</p></div></div></div></div></div></div>'
                    });
                    $('#content').html(htmlCard);

				},
				error: function (result) {
					console.log(result);
					notify("Gagal", "Gagal mencarikan universitas " + result.responseText, "danger");
				}
			});
		}
		else {
			notify("Gagal", "Prioritas harus dipilih", "danger");
		}

	}

	    function Detail(id){
			window.open('University/Detail/'+id, '_blank');
	    }
	
</script>